    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 0;
    }
    
    header {
        background: #f6f2f2;
        padding-top: 30px;
        padding-bottom: 110px;
    }
    
    p {
        color: #585858;
        line-height: 28px;
    }
    
    .container {
        max-width: 1280px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .menu {
        background: #313030;
        display: flex;
        justify-content: center;
    }
    
    .menu a {
        padding: 40px 20px 30px;
        color: #e0e0e0;
        text-transform: uppercase;
        text-decoration: none;
        user-select: none;
    }
    
    .menu a:hover {
        background: #ff3f40;
    }
    
    .main-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 100px;
    }
    
    .main-title {
        width: 535px;
    }
    
    .main-image {
        width: 550px;
        height: 355px;
        background: #c4c0b1;
        box-shadow: 1px 0px 20px 0px #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        font-size: 60px;
        text-transform: uppercase;
    }
    
    .btn {
        background-color: #ff2d2d;
        width: 225px;
        height: 55px;
        color: #fff;
        font-size: 18.14px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        margin-top: 35px;
    }
    
    .services {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
    
    .left-side {
        width: 50%;
        padding: 0 100px 0 0;
    }
    
    .left-side p {
        font-size: 16px;
    }
    
    .left-side h2 {
        font-size: 42px;
        font-weight: normal;
        color: #585858;
        text-transform: uppercase;
        margin: 0 0;
    }
    
    .right-side {
        width: 50%;
    }
    
    .right-side h2 {
        font-size: 42px;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0 0;
    }
    
    .blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
    }
    
    .block {
        width: 290px;
    }
    
    .block p:first-of-type {
        font-size: 24px;
        color: #585858;
        margin: 30px 0;
    }
    
    .block p:last-of-type {
        margin: 20px 0;
    }
    
    .block img {
        width: auto;
        height: 41px;
    }
    
    .btn_2 {
        background-color: #fff;
        width: 225px;
        height: 55px;
        color: #ff2d2d;
        font-size: 18.14px;
        border: 2px solid #ff2d2d;
        border-radius: 5px;
        font-weight: bold;
        margin-top: 35px;
    }
    
    .hr_1 {
        border: 2px solid #ececec;
        margin-top: 90px;
    }
    
    .products h2 {
        font-size: 42px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin: 110px 0 35px;
    }
    
    .products p {
        font-size: 16px;
        color: #585858;
        text-align: center;
        width: 510px;
        margin: 0 auto;
    }
    
    .products hr {
        border: 1px solid #ff2d2d;
        width: 130px;
        margin: 35px auto;
    }
    
    .products ul {
        width: 900px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 90px;
    }
    
    .products li {
        list-style-type: none;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
    }
    
    .products li:hover {
        color: #ff2d2d;
    }
    
    .featured {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 70px;
    }
    
    .product {
        background-color: #f5f0dd;
        width: 290px;
        height: 290px;
        margin-bottom: 20px;
    }
    
    .team h2 {
        font-size: 42px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
        color: #333333;
        margin: 140px 0 45px;
    }
    
    .team p {
        font-size: 16px;
        color: #585858;
        text-align: left;
        width: 450px;
        margin: 0 0;
    }
    
    .team hr {
        border: 1px solid #ff2d2d;
        width: 130px;
        margin: 0 0;
        margin-top: 40px;
    }
    
    .teammember {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 70px;
    }
    
    .memberpic {
        background-color: #f5f0dd;
        height: 460px;
        width: 320px;
    }
    
    .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .memberinfo h3 {
        font-size: 30px;
        text-transform: uppercase;
        color: #333333;
        margin: 15px 0;
    }
    
    .memberinfo p {
        margin: 30px 0;
        font-size: 16px;
        line-height: 30px;
    }
    
    .teammember ul {
        display: flex;
        flex-direction: row;
        margin: 0 0;
        padding: 0 0;
    }
    
    .teammember li {
        list-style-type: none;
        margin-right: 30px;
        font-weight: bold;
        font-style: oblique;
        color: #414141;
        font-size: 18px;
    }
    
    .members {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 55px 0;
    }
    
    .member {
        background-color: #f5f0dd;
        height: 215px;
        width: 200px;
        margin-right: 20px;
        position: relative;
    }
    
    .hidden {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 10px;
        display: none;
        background-color: #7a786e;
        text-align: center;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .member:hover .hidden {
        display: block;
    }
    
    .subscribe {
        background-color: #f5f0dd;
        padding: 145px 0;
        margin-top: 70px;
    }
    
    .subscribe p:first-of-type {
        font-size: 42px;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    
    .subscribe p:last-of-type {
        font-size: 16px;
        color: white;
        text-align: center;
    }
    
    .submitemail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .email {
        width: 520px;
        height: 85px;
        border: none;
        border-radius: 5px;
    }
    
    .email::placeholder {
        font-size: 16px;
        padding: 40px 30px;
    }
    
    .btn_3 {
        background-color: #ff2d2d;
        width: 210px;
        height: 80px;
        color: #fff;
        font-size: 18.14px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        margin-left: 25px;
        text-transform: uppercase;
    }
    
    .getintouch h2 {
        font-size: 42px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
        color: #333333;
        margin: 110px 0 55px;
    }
    
    .getintouch p {
        font-size: 16px;
        color: #585858;
        text-align: left;
        width: 450px;
    }
    
    .getintouch hr {
        border: 2px solid #ff2d2d;
        width: 130px;
        margin: 0 0;
        margin-top: 55px;
    }
    
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin-top: 75px;
    }
    
    .contactinfo {
        background-color: #2d2d2d;
        width: 38%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -45px;
        padding: 150px 80px;
        height: 480px;
    }
    
    .contactform {
        width: 50%;
    }
    
    .forms {
        display: flex;
        flex-direction: column;
    }
    
    .forms1 {
        width: 730px;
        display: flex;
        flex-direction: row;
    }
    
    .contactname {
        margin-right: 60px;
    }
    
    .contactname,
    .contactemail {
        width: 340px;
        height: 70px;
        border-radius: 5px;
        border: none;
        background-color: #e5e5e5;
    }
    
    .contactname::placeholder,
    .contactemail::placeholder {
        padding: 35px 50px;
        font-size: 16px;
        color: #444444;
    }
    
    .contactname::placeholder {
        font-size: 18.14px;
    }
    
    textarea {
        margin-top: 45px;
        width: 730px;
        height: 250px;
        background-color: #e5e5e5;
        border-radius: 5px;
        border: none;
        padding: 35px 50px;
        font-size: 16px;
        color: #444444;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .btn_4 {
        background-color: #ff2d2d;
        width: 730px;
        height: 70px;
        color: #fff;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 45px;
    }
    
    .contactinfo h3 {
        margin: 0 0;
        color: #a9a9a9;
        text-transform: uppercase;
        font-size: 18px;
        padding-bottom: 45px;
    }
    
    .contactinfo p {
        width: 290px;
        font-size: 16px;
        line-height: 28px;
        margin: 0 0;
        color: #a9a9a9;
        padding-bottom: 45px;
    }
    
    footer {
        background-color: #313030;
    }
    
    .footer {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 110px;
    }
    
    footer p {
        margin: 0 0;
        font-size: 16px;
        color: #a9a9a9;
    }
    
    footer ul {
        display: flex;
        flex-direction: row;
    }
    
    footer li {
        list-style-type: none;
        margin-left: 20px;
    }